.container {
    background-color: rgb(151, 148, 148);
    width: auto;
    padding: 20px;
    height: 93.5vh;
}

.container h1 {
    text-align: center;
}

.container h2 {
    text-align: center;
}

.menu {
    color: white;
    margin: 10px;
    padding: 10px;
    height: 60%;
}

.container button {
    padding: 10px;
    border-radius: 5px;
}

.post-container{
    margin-top: 30px;
    height: 300px;
    overflow: auto;
}