.header {
  height: 5rem;
  background-color: #044599;
  padding: 0 10%;
  display: flex;
}

.navbar {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0 10px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.header li {
  margin: 0 1rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}


.btn {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  border: 1px solid teal;
  cursor: pointer;
  padding: 10px;
  margin: auto 20px;
}


.blogbtn {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  border: 1px solid teal;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

.bloglist{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.main {
  height: 800px;
}

.footer {
  background-color: red;
  height: 50px;
  width: 100%;
}